// ==============================
// Custom style
// ==============================
.header-title {
  .logo {
    min-height: 1.6em;
    height: 1.6em;
    vertical-align: middle;
    width: auto;
    [data-theme='dark'] & {
      filter: invert(60%);
    }
  }
}

.home {
  .home-profile {
    .github-banner {
      height: auto;
      width: auto;
      [data-theme='dark'] & {
        filter: invert(100%) hue-rotate(200deg) saturate(1000%) brightness(45%) contrast(180%);
      }
    }
  }
}