// ==============================
// Custom style
// ==============================
.header-title {
  .logo {
    min-height: 1.6em;
    height: 1.6em;
    vertical-align: middle;
    width: auto;
    [data-theme='dark'] & {
      filter: invert(60%);
    }
  }
}

.home {
  .home-profile {
    .github-banner {
      max-width: 100%;
      width: 45em;
      height: auto;
      [data-theme='dark'] & {
        filter: invert(100%) hue-rotate(180deg) saturate(180%) brightness(60%) contrast(140%);
      }
    }
  }
}